*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

li{
    list-style-type: none;
}

/* utilities */
.debug{
    border: 2px dashed red;
}

.flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.btn-blue{
    background-color: #005eff;
    padding: 10px 15px;
    color: white;
}

.padding-top-150{
    padding-top: 150px;
}

.padding-top-40{
    padding-top: 40px;
}

.fixed{
    position: fixed;
}

.container-60{
    width: 60%;
    margin: 0 auto;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.column{
    flex-direction: column;
}

.height-100{
    height: 100%;
}

.widht-100{
    width: 100%;
}

/* Hover */
.btn-blue:hover{
    opacity: 0.75;
}

/* Header */
header{
    width: 100%;
    height: 8vh;
    background-color: white;
}

header div{
    display: inline;
    margin: 0 20px;
}

header a{
    text-decoration: none;
    color: black;
}

.header-lightblue{
    height: 800px;
    background-color: #b4d0e7;
}

.jumbo{
    bottom: -40px;
    right: 0;
    width: 66%;
    height: 100%;
}

.jumbo img{
    width: 100%;
}

.description{
    width: calc(100%/3);
}

.description div{
    padding-bottom: 20px;
}

h2{
    font-weight: 900 bold;
    font-size: 80px;
}

.arrow{
    bottom: 0;
    font-size: 50px;
}

.description a{
    text-decoration: none;
}

.cancel a{
    text-decoration: none;
    color: black;
}

.description a i{
    text-decoration: none;
    color: black;
}

