*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

li{
    list-style-type: none;
}

/* utilities */
.debug{
    border: 2px dashed red;
}

.flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.align-items-center{
    align-items: center;
}

.btn-blue{
    background-color: #005eff;
    padding: 10px 15px;
    color: white;
}

.btn-white{
    border: 1px solid black;
    padding: 10px 15px;
    color: black;
}

.padding-top-150{
    padding-top: 150px;
}

.padding-top-40{
    padding-top: 40px;
}

.fixed{
    position: fixed;
}

.container-90{
    width: 90%;
    margin: 0 auto;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}

.container-60{
    width: 60%;
    margin: 0 auto;
}

.container-50{
    width: 50%;
    margin: 0 auto;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.column{
    flex-direction: column;
}

.height-100{
    height: 100%;
}

.widht-100{
    width: 100%;
}

.wrap{
    flex-wrap: wrap;
}

/* Hover */
.btn-blue:hover{
    opacity: 0.75;
}

/* Header */
header{
    width: 100%;
    height: 8vh;
    background-color: white;
    z-index: 1;
}

header div{
    display: inline;
    margin: 0 20px;
}

header a{
    text-decoration: none;
    color: black;
}

.header-lightblue{
    height: 800px;
    background-color: #b4d0e7;
}

.jumbo{
    bottom: -40px;
    right: 0;
    width: 66%;
    height: 100%;
}

.jumbo img{
    width: 100%;
}

.description{
    width: calc(100%/3);
}

.description div{
    padding-bottom: 30px;
}

h1{
    font-weight: 900 bold;
    font-size: 80px;
}

.arrow{
    bottom: 0;
    font-size: 50px;
}

.description a{
    text-decoration: none;
}

.cancel a{
    text-decoration: none;
    color: black;
}

.description a i{
    text-decoration: none;
    color: black;
}

/* Main */
#planes{
    padding-top: 100px;
}

h2{
    font-size: 35px;
    padding: 10px 0;
}

.radio{
    padding: 40px 0;
}

.radio div{
    margin-right: 20px;
}

.choose{
    color: #005eff;
    -webkit-text-stroke: 3px #005eff;
}

.not-choose{
    color: lightgray;
}

/* Card */
.card{
    width: calc(100%/3 - 1%);
    border: 1px solid lightgray;
}

.user{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

h4{
    font-size: 25px;
}

.price{
    font-weight: bold;
}

.rata{
    color: grey;
}

.card .offer{
    height: 500px;
}

.checklist{
    height: 400px;
}

hr{
    width: 20%;
    border: 1px solid lightgray;
}

.trial{
    text-align: center;
    
}

.trial a{
    color: white;
    text-decoration: none;
}

.buy-now a{
    color: blue;
}

.fa-check{
    color: #005eff;
}

.checklist div{
    padding: 10px 0;
}

.title div{
    padding-bottom: 10px;
}

.features div{
    padding-bottom: 20px;
}

.bigcard .offer{
    padding: 30px 0;
}

.bigcard{
    margin-top: 50px;
    border: 1px solid lightgray;
}

.bigcard .features{
    padding: 20px 0;
}

.bigcard a{
    text-decoration: none;
}

/* partner */

.entra-dropbox{
    padding-top: 150px;
}

.partner-image img{
    width: 100%;
}

.partner-description{
    padding: 40px;
    width: 75%;
}

.partner-description div{
    padding-bottom: 30px;
}

.entra-dropbox a{
    text-decoration: none;
}

/* operations */

.operation{
    padding-top: 150px;
}

.operation-card{
    width: calc(100%/3 - 1%);
    padding: 20px;
}

.operation-card img{
    width: 100%;
}

