*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

li{
    list-style-type: none;
}

/* utilities */
.debug{
    border: 2px dashed red;
}

.flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.btn-blue{
    background-color: #005eff;
    padding: 10px 15px;
    color: white;
}

.btn-white{
    border: 1px solid black;
    background-color: white;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}

.padding-top-150{
    padding-top: 150px;
}

.padding-top-40{
    padding-top: 40px;
}

.fixed{
    position: fixed;
}

.container-90{
    width: 90%;
    margin: 0 auto;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}

.container-60{
    width: 60%;
    margin: 0 auto;
}

.container-50{
    width: 50%;
    margin: 0 auto;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.column{
    flex-direction: column;
}

.height-100{
    height: 100%;
}

.widht-100{
    width: 100%;
}

.wrap{
    flex-wrap: wrap;
}

/* Hover */
.btn-blue:hover,
.btn-white:hover{
    opacity: 0.75;
}

.border-btm:hover{
    border-bottom: 3px solid grey;
}

.square-card:hover .square-card-inner {
    transform: rotateY(180deg);
}

.qa:hover .ask{
    display: inline-block;
}

.qa:hover .down{
    transform: rotate(180deg)
}

/* Header */
header{
    width: 100%;
    height: 8vh;
    background-color: white;
    z-index: 1;
}

header div{
    display: inline;
    margin: 0 20px;
}

header a{
    text-decoration: none;
    color: black;
}

.header-lightblue{
    height: 770px;
    background-color: #b4d0e7;
}

.border-btm{
    height: 100%;
    flex-wrap: wrap;
    align-content: center;

}

.jumbo{
    bottom: -40px;
    right: 0;
    width: 66%;
    height: 100%;
}

.jumbo img{
    width: 100%;
}

.description{
    width: calc(100%/3);
}

.description div{
    padding-bottom: 30px;
}

h1{
    font-weight: bold;
    font-size: 80px;
}

.arrow{
    bottom: 10px;
    font-size: 50px;
}

.description a{
    text-decoration: none;
}

.cancel a{
    text-decoration: none;
    color: black;
}

.description a i{
    text-decoration: none;
    color: black;
}

/* Main */
#planes{
    padding-top: 100px;
}

h2{
    font-size: 35px;
    padding: 20px 0;
}

.radio{
    padding: 40px 0;
}

.radio div{
    margin-right: 20px;
}

/* Card */
.card{
    width: calc(100%/3 - 3%);
    border: 1px solid lightgray;
}

.user{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

h4{
    font-size: 25px;
}

.price{
    font-weight: bold;
}

.rata{
    color: grey;
}

.card .offer{
    min-height: 500px;
}

.checklist{
    min-height: 400px;
}

h5{
    font-size: 16px;
}

.checklist li{
    margin: 10px 0;
}

hr{
    width: 20%;
    border: 1px solid lightgray;
}

.trial{
    text-align: center;
    
}

.trial a{
    color: white;
    text-decoration: none;
}

.buy-now a{
    color: blue;
}

.fa-check{
    color: #005eff;
}

.checklist div{
    padding: 10px 0;
}

.title div{
    padding-bottom: 10px;
}

.features div{
    padding-bottom: 20px;
}

.bigcard .offer{
    padding: 30px 0;
}

.bigcard{
    margin-top: 50px;
    border: 1px solid lightgray;
}

.bigcard .features{
    padding: 20px 0;
    width: 70%;
}

.bigcard a{
    text-decoration: none;
}

/* partner */

.partner{
    padding-top: 150px;
}

.partner-image img{
    width: 100%;
}

.partner-description{
    padding: 40px;
    width: 75%;
}

.partner-description div{
    padding-bottom: 30px;
}

.entra-dropbox a{
    text-decoration: none;
}

/* operations */

.operation{
    padding-top: 120px;
}

.operation-card{
    width: calc(100%/3 - 1%);
    padding: 20px;
}

.operation-card img{
    width: 100%;
}

/* clients */
.clients{
    padding: 100px 0;
    width: 70%;
}

.clients a{
    color: blue;
    padding-top: 50px;
}

.clients p{
    padding: 50px 0;
}

/* squares */

.right-squares,
.left-squares,
.mid{
    width: calc(100vw/3);
    height: calc(100vw/3);
}

.square-card{
    width: 50%;
    height: 50%;
    perspective: 1000px;
}

.square-card img{
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    filter: invert(98%) sepia(2%) saturate(93%) hue-rotate(274deg) brightness(123%) contrast(100%);
}

.square-card-inner {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
}

.square-card-front, .square-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.square-card-back {
    color: white;
    transform: rotateY(180deg);
}
  
.square-card-back p{
      padding: 5px;
}

.square-card-back h3{
    margin-bottom: 10px;
}

.verde{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.granata{
    background-color: #61082b;
}

.azzurro{
    background-color: #0093ce;
}

.rosso-1{
    background-color: #ff1c1c;
}

.rosso-2{
    background-color: #d5001f;
}

.celeste{
    background-color: #b4d0e7;
}

.blu{
    background-color: #0d2481;
}

.giallo{
    background-color: #ffd830;
}

.mid{
    background-color: #f5f5f5;
    padding: 50px;
    overflow: auto;
}

.width-50{
    width: 50%;
}

.mid img{
    width: 100%;
    padding-bottom: 40px;
}

.mid p{
    padding-top: 40px;
}

/* prova gratuita */
.prova-gratuita{
    background-color: #b4d0e7;
    height: 300px;
    width: 100%;
}

.prova-gratuita h2{
    color: #61082b;
}

.prova-gratuita .title{
    width: 50%;
}

/* faq */

.faq{
    padding: 120px 0;
}

.qa{
    border-top: 1px solid grey;
}

.qa:last-child{
    border-bottom: 1px solid grey;
}

.faq h2{
    padding: 40px 0;
}

.question{
    padding: 30px 0;
    font-weight: bold;
}

.ask{
    padding: 30px 0;
    display: none;
}

.qa .down{
    transition: all 0s;
}

/* footer */
footer{
    background-color: #000000;
}

.info{
    width: calc(100%/5);
    padding: 100px 0;
}

.info h4{
    padding: 20px 0;
    color: white;
}

.info ul li{
    padding: 10px 0;
}

.info ul li a{
    text-decoration: none;
    color: white;
}

footer hr{
    border: 1px solid grey;
    width: 10%;
}

.lingua{
    color: grey;
    padding: 40px 0;
}

.lingua *{
    margin-right: 10px;
}

